.DS_Store
node_modules/
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

.*.sw[a-z]
*.un~
Session.vim
.netrwhist
libraries/

attachments/lib/modules/
